.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header-menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 33px;
  list-style: circle;
  font-size: 18px;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item {
  font-family: "Raleway", Raleway-Regular;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}


.header__link {
  text-underline-offset: 4px;
}

.header__logo {
  display: block;
  width: 140px;
  height: 105px;
}

.header__logo-image {

}

.address {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  justify-self: end;
  font-family: 'Raleway', Raleway-Regular;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0%;
  text-underline-offset: 4px;
  align-items: flex-start;
}

.cover {
  display: grid;
  position: relative;
  min-height: 757px;
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
  z-index: 0;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  z-index: -1;
}

.cover__title {
  display: grid;
  font-family: 'Raleway', Raleway-Bold;
  font-weight: 700;
  font-style: bold;
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 165px;
  padding-left: 50px;
}

.no-letter-spacing {
  letter-spacing: 0;
}
 
.aligned-text_left {
  display: block;
  align-items: start;
  justify-content: start;
}

.aligned-text_center {
  display: block;
  align-self: start;
  justify-self: start;
  margin-left: 330px;
  margin-top: -10px;
}

.aligned-text_right {
  display: block;
  align-items: start;
  justify-content: start;
  margin-left: 615px;
  margin-top: -10px;
}

.cover__description {
  display: flex;
  align-items: end;
  z-index: 1;
  align-self: end;
  padding: 0 50px 50px;
  justify-content: space-between;
}

.cover__description-text {
  font-family: 'Raleway', Raleway-Regular;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0;
  word-spacing: 18.5px;
  text-transform: uppercase;
  color: #FFFFFF;
  align-self: center;
}

.bet-button {
  font-family: 'Raleway', Raleway-Regular;
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 0;
  text-transform: uppercase;
  color:#FFFFFF;
  padding: 12px 32px 11px 31px;
  border-color: #FFFFFF;
  background-color: transparent;
}

.lots {

}

.lots__heading {
  margin-top: 180px;
  margin-left: 64px;
  font-family: 'Raleway', Raleway-Bold;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color:black;
}

.lots__card-list {
  display: flex;
  margin: 27px 24px 0;
  gap: 25px;
}

.lots__card-list-item {
  display: flex;
  width: 334px;
  height: 596px;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  z-index: 0;
}

.card_type_film{
  background-image: url("../images/card-lot-01.jpg");
  background-size: cover;
  background-position: center;
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
  background-size: cover;
  background-position: center;
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
  background-size: cover;
  background-position: center;
}

.card__title {
  font-family: 'Raleway', Raleway-Bold;
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  text-underline-offset: 4px;
  color: #FFFFFF;
  padding: 48px 40px 30px;
}

.card__text {
  display: block;
  font-family: 'Raleway', Raleway-Regular;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  color:#FFFFFF;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 40px;
}

.lots__look-more-link {
  display: flex;
  margin-top: 30px;
  margin-left: 64px;
  font-family: 'Raleway', Raleway-Regular;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-underline-offset: 5px;
}
.about {
  display: grid;
  margin: 120px 24px;
  grid-template-columns: 334px 1fr;
}

.about__column {
  display: flex;
  flex-direction: column;
}

.about__logo {
  display: flex;
  align-items: center;
  justify-self: center;
  align-self: center;
  justify-content: center;
  background-color: black;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  margin-top: 35px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  display: flex;
  font-family: 'Raleway', Raleway-Bold;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin-top: 143px;
  margin-left: 25px;
}

.about__text {
  display: flex;
  flex-direction: column;
  align-items: end;
  font-family: 'Raleway', Raleway-Regular;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  gap: 24px;
  margin-top: 102px;
  margin-left: 25px;
}

.about__first-paragraph {
  padding-right: 5px;
}

.about__second-paragraph {
  max-width: 693px;
  max-height: 168px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  height: 180px;
  margin-top: 180px;
  padding: 0 50px; 
}

.footer-address {
  justify-self: start;
  padding-left: 1px;
  padding-top: 1px;
}

.footer__menu {
  /* margin: 0; */
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  list-style-type: none; 
  text-underline-offset: 4px;
  padding-top: 2px;
  gap: 4px;
}

.footer__menu-list-item {
  font-family: 'Raleway', Raleway-Regular;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.footer__menu-link {

}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  list-style-type: none;
  gap: 48px;
}

.footer__social-list-item {

}

.footer__social-link {

}

.YouTube {
  height: 48px;
  width: 48px;
}

.VK {
  height: 48px;
  width: 48px;
}

.Pinterest {
  height: 48px;
  width: 48px;
}

.social-networks {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  list-style-type: none;
  gap: 48px;
}